.btns{
  padding: 1rem;
}

button{
  width: 60px;
  background-color: transparent;
  margin-right: 10px;
  border: 1px solid black;
  cursor: pointer;
}

button:hover{
  background-color: #666;
  color: white;
}